:root {
  --col-primary: #8529c6;
  --col-primary-2: #7927b4;
  --col-primary-3: #8b40c1;
  --col-primary-4: #3A1078;
  --col-primary-5: #3D1766;


  --col-gray-1: #575656;
  --col-gray-2: #f1f1f1;
  --col-gray-3: #303030;

  --box-shadow-1: 0 1rem 1rem rgba(0, 0, 0, .09);
}

$bp-1: 81.9375em; //1311
$bp-6: 74.4375em; //1189
$bp-1-5: 61em; //976
$bp-2: 53.5625em; //857
$bp-3: 47.375em; //734
// $bp-3: 45.875em; //734
$bp-4: 36.5625em; //585
$bp-7: 29.5625em;
$bp-5: 21.875em;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  line-height: 1.6;
  @media only screen and (max-width: $bp-3) {
    font-size: 1.25rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-top: 7rem;
}

.navbar {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col-gray-2);
  font-size: 1.25rem;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  width: 100%;

  .nav_text {
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;

    @media only screen and (max-width: $bp-4) {
      margin-left: 0;
    }

  }

  .nav_logo {
    width: 15rem;
    height: 3rem;
  }

  .nav-lists {
    flex: 0 0 60%;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;


    @media only screen and (max-width: $bp-3) {
      display: none;
    }

  }

  .nav_items {
    margin-right: 2rem;
  }

  .nav-link {
    color: #414141;
    text-decoration: none;
    position: relative;
    margin-right: 2rem;

    &:hover {
      color: var(--col-gray-1);
    }

    & span {
      position: absolute;
      top: -2.5rem;
      left: 1.5rem;
      height: 2rem;
      width: 2rem;
      background-color: var(--col-primary);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-weight: 400;
    }
  }

}

//button
.btn {
  padding: 1rem;
  background-color: var(--col-primary);
  border: none;
  border-radius: .5rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  // transition: all ;

  &:hover {
    background-color: var(--col-primary-2);
  }

  &:active {
    background-color: var(--col-primary);
  }

  &:focus {
    outline: none;
    animation: keepmoving .7s infinite;
  }
}

.btn-3 {

  padding: 1rem;
  // background-color: var(--col-primary);
  border: 1px solid var(--col-primary);
  border-radius: .5rem;
  color: var(--col-primary);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  // transition: all ;

  &:hover {
    background-color: var(--col-primary-2);
    color: #fff;
  }

  &:active {
    background-color: var(--col-primary);
  }

  &:focus {
    outline: none;
    animation: keepmoving .7s infinite;
  }
}

@keyframes keepmoving {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-1);
  }

  100% {
    transform: scale(1);
  }

}

// .home{
//   margin-top: 7rem;
// }
.home__content {
  width: 60%;
  margin: 10rem auto;
  display: flex;
  align-items: center;
  // position: relative;

  .content__left {
    margin-right: 4rem;

    .title1 {
      text-transform: uppercase;
      color: var(--col-primary);
    }

    .title2 {
      font-weight: 300;
      font-size: 4rem;
      text-transform: capitalize;
    }

    // .title3{}
  }

  .content__right {
    align-self: center;
    position: relative;

    .home__image {
      width: 40rem;
    }
  }

  .content__right::after {
    content: "";
    width: 25rem;
    height: 25rem;
    background-color: var(--col-primary-3);
    position: absolute;
    top: -4rem;
    right: -4rem;
    z-index: -1;
  }

  @media only screen and (max-width: $bp-1) {
    width: 80%;
  }

  @media only screen and (max-width: $bp-2) {
    flex-direction: column;
    margin: 10rem auto;

    .content__right {
      margin: 2rem 2rem 0 0;
      align-self: flex-end;
    }
  }

  @media only screen and (max-width: $bp-3) {
    // width: 100%;
    margin: 8rem auto 6rem;
    overflow: hidden;

    .content__left {
      margin: 1rem auto;
      text-align: center;
    }

    .content__right {
      align-self: center;
      margin: 4rem auto;

      &::after {
        top: 25%;
      }
    }
  }
}

.services {
  width: 90%;
  margin: 4rem auto;
  display: grid;
  grid-template-rows: minmax(200px, min-content);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
  grid-auto-rows: minmax(200px, min-content);

  &__list {
    border-radius: 1rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;


    .list-icon {
      color: var(--col-primary);
      margin-bottom: 2px;
    }

    & span {
      text-align: center;
    }

  }
}

.trust {
  background-color: #eee;
  padding: 6rem;
  text-align: center;

  &__title {
    text-transform: capitalize;
    color: var(--col-gray-1);
    font-size: 1.6rem;

  }

  &__lists {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-3) {
      &>* {
        margin-top: 2rem;
      }
    }

    &-icon {
      max-width: 20rem;
      background-color: transparent;
    }
  }
}

.page__heading {
  text-align: center;
  margin: 2rem auto;
  font-size: 4rem;
  font-weight: 300;
}



.container {

  .contact__form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-1-5) {
      width: 80%;
    }

    &-fields {
      font-size: 1.5rem;
      border-radius: .5rem;
      border: 1px solid var(--col-gray-1);
      font-family: inherit;
      font-size: inherit;
      padding: 1rem;
      margin-bottom: .5rem;

      &:focus {
        outline: 1px solid var(--col-gray-1);
      }
    }

    .btn {
      align-self: center;
      margin-top: 1rem;
    }

  }

}

.footer {
  background-color: var(--col-primary-4);
  margin-top: 10rem;
  padding: 10rem 0;
  position: relative;
  color: #fff;
  width: 100%;

  &__part-1 {
    width: 50%;
    padding: 3rem 6rem;
    background-color: var(--col-gray-2);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -5rem;
    left: 25%;

    @media only screen and (max-width: $bp-2) {
      width: 100%;
      left: 0;
    }

    @media only screen and (max-width: $bp-4) {
      display: block;
      text-align: center;

      &>*:not(:last-child) {
        margin-bottom: 2rem;
      }
    }


    .write__something {
      display: flex;
      flex-direction: column;
      color: var(--col-gray-3);
    }
  }

  &__part-2 {
    padding: 3rem 2rem 5rem;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 8rem;
    grid-row-gap: 4rem;
    justify-content: center;
    border-bottom: 1px solid var(--col-gray-2);

    &>* {
      text-align: center;
    }

    .contents-1 {
      p {
        font-size: 1.3rem;
      }
    }

    .contents-2 {
      .footer__email {
        font-size: inherit;
        font-family: inherit;
        padding: .5rem;
        width: 100%;
        border: none;
        border-radius: 2px;
        color: var(--col-gray-3);
        margin-bottom: 1rem;

        &:focus {
          outline: none;
        }
      }
    }

    .footer__heading {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .socials__icons {
      &>* {
        cursor: pointer;
      }

      &>*:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__part-3 {
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $bp-3) {
      flex-direction: column;
      text-align: center;

      &>*:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    .policylists {
      list-style: none;

      &>* {
        text-transform: uppercase;
        text-align: center;

        a {
          text-decoration: none;
          color: inherit;
          font-size: 1.25rem;
        }
      }
    }
  }
}

//error
.error {
  &-desc {
    padding: 3rem 0;
    text-align: center;
  }

}

//utility classes

.margin-above-2 {
  margin-top: 2rem;
}

.margin-right-2 {
  margin-right: 2rem;
}


.loading__gif {
  margin: 0 auto;
  width: 3rem;
}

.center {
  text-align: center;
  margin-top: 6rem;
}

//featured

.featured-products {
  background-color: #eee;
  padding: 6rem 0;

  .featured__desc {

    text-align: center;

    &-title {


      .check {
        color: var(--col-primary-3);
        text-transform: uppercase;
      }

    }

    &-items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
      grid-auto-rows: minmax(min-content, max-content);
      justify-content: center;

      &>* {
        background-color: #fff;
        border-radius: 1rem;
      }

      .card {
        padding: 1.5rem;

        &-link {
          overflow: hidden;
          position: relative;

        }

        .category {
          padding: .25rem .75rem;
          display: inline-block;
          border-radius: 50px;
          font-size: 1.2rem;
          text-transform: capitalize;
          color: var(--col-primary);
          background-color: #fff;
          position: absolute;
          top: .5rem;
          right: .5rem;
        }

        &-image {
          width: 100%;
          max-height: 20rem;
          transition: all .2s;
          display: block;

          &:hover {
            transform: scale(1.05);
          }
        }

        &-detail {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;

          .name {
            text-transform: capitalize;
            color: var(--col-gray-3);
          }

          .price {
            color: var(--col-primary-3);
            font-weight: 400;
          }
        }
      }
    }

  }

}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 6rem;
  @media only screen and (max-width: $bp-3) {
    padding: 1rem;
  }

  &:first-child {
    margin-top: 2rem;
  }

  &-image {
    flex: 0 0 30%;
    margin-right: 5rem;

    .image-item {
      width: 100%;
      display: block;
    }
  }

  .image__desc {
    align-self: flex-start;
    color: var(--col-gray-3);

    &-name {
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-size: 2rem;
      
  @media only screen and (max-width: $bp-3) {
    font-size: 1.75rem;
  }
    }

    &-price {
      color: var(--col-primary);
    }

    &-desc {
      margin-bottom: 2rem;

      // @media only screen and (max-width: $bp-3){
      //   display: none;
      // }
    }

    & Link {
      text-decoration: none;
    }
  }
}

//singlepage

.single-product {
  .page-navigation {
    padding: 2rem 3.5rem;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-4) {
      padding-left: 1.5rem;
    }

    &__link {
      text-decoration: none;
      text-transform: capitalize;
      color: var(--col-primary-3);
    }

    &__text {
      text-transform: capitalize;
      display: inline-block;
    }
  }
}

//headings//
.page__heading2 {
  text-transform: capitalize;
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.product {
  display: flex;
  justify-content: center;
  padding: 3rem 4rem;
  color: var(--col-gray-1);

  @media only screen and (max-width: $bp-2) {
    padding: 1rem 3rem;
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-4) {
    padding: 1.5rem;
  }

  .product__images {
    flex: 0 0 50%;
    align-self: center;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-2) {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-4) {
      padding: 1rem 0;
    }

    .all__images {
      display: flex;
      flex-direction: column;


      .singleImage {
        width: 15rem;

        @media only screen and (max-width: $bp-4) {
          width: 10rem;
        }

        @media only screen and (max-width: $bp-5) {
          width: 6rem;
        }

        .image__here {
          width: 100%;
          cursor: pointer;
          // display: block;
        }
      }
    }

    .zoomed__image {
      padding: 2rem;
      flex: 1;
      align-items: center;

      @media only screen and (max-width: $bp-2) {
        padding-right: 0;
      }

      &-main {
        width: 100%;
        display: block;
      }
    }
  }

  .product__details {
    flex: 1;

    &>*:not(:last-child) {
      margin-bottom: 1rem;
    }

    .name {
      font-size: 3rem;
      text-transform: capitalize;
      color: #000;
    }

    .review {
      display: flex;
      align-items: center;

      .stars {
        color: rgb(249, 200, 3);
      }
    }

    .price {
      color: #000;
      font-weight: 600;
    }

    .deal__price {
      font-weight: 600;
      color: var(--col-primary);
    }

    .product__feature {
      display: flex;
      // justify-content: flex-start;
      margin: 2rem 0;

      &>*:not(:first-child) {
        margin-left: 2rem;
      }

      &-image {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-here {
          color: var(--col-primary-2);
        }

      }

      &-desc {
        font-size: 1.25rem;
      }
    }

    .adjust {
      display: flex;
      flex-direction: column;

      .availabilty {
        font-weight: 600;
        font-size: 1.5rem;

        & span:last-child {
          color: #000;
          text-transform: capitalize;
        }
      }
    }

    .select__choice {
      font-weight: 600;
    }

    & .btn {
      text-decoration: none;
      display: inline-block;
    }
  }
}

.your__choice {
  display: flex;
  // justify-content: center;
  align-items: center;

  .available {
    display: flex;

    &__color {
      cursor: pointer;
      margin-left: .5rem;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 10px;
      position: relative;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 1rem;

      &:hover{
        opacity: .5;
      }
    }
  }
}

.btn-2 {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  font-size: 2.25rem;
  background-color: transparent;

  &:hover {
    background-color: var(--col-gray-2);
  }
}

.navigation {
  display: none;
  position: relative;

  @media only screen and (max-width: $bp-3) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-color: #fff;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__background {
    height: 3rem;
    width: 3rem;
    background-image: radial-gradient(var(--col-primary-3), var(--col-primary));
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100%;
    z-index: 1500;
    transition: all .8s cubic-bezier(1, -0.51, 0, 1.45);
  }

  &__lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
  }

  &__items {
    margin: 1rem;
  }

  &__link {

    &,
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      display: inline-block;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--col-gray-2) 50%);
      background-size: 230%;
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      transform: translateX(1rem);
      color: var(--col-primary);
    }
  }

  &__checkbox:checked~&__background {
    transform: scale(80);
  }

  &__checkbox:checked~&__nav {
    right: 0;
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      height: 2px;
      width: 1.75rem;
      display: inline-block;
      background-color: var(--col-gray-1);
      transition: all .4s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: .5rem;
    }

    &::after {
      top: -.5rem;
    }

  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}

//products
.products {
  padding: 4rem 8rem;
  display: flex;

  @media only screen and (max-width: $bp-6) {
    padding: 3rem;
  }

  &__filter {
    flex: 0 0 20%;
    position: relative;

    .aside {
      position: sticky;
      top: 12%;
      padding: 0 2rem;
      color: var(--col-gray-1);

      @media only screen and (max-width: $bp-3) {
        padding: 0;
      }


      input[type=text] {
        font-size: inherit;
        padding: .5rem;
        border: 1px solid var(--col-gray-1);
        border-radius: 5px;
        color: inherit;

        @media only screen and (max-width: $bp-3) {
        width: 10rem;
          
        }
        &:focus {
          outline: none;
        }
      }

      select {
        color: inherit;
      }

      &>*:not(:last-child) {
        margin-bottom: 3rem;
      }

      &>* h4 {
        margin-bottom: 1rem;
      }

      .category {

        .products__category {
          list-style: none;

          .category__lists {
            padding: .5rem 0;
          }

          .category__link {
            color: inherit;
            text-decoration: none;
            text-transform: capitalize;
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:hover {
              color: var(--col-primary);
              border-bottom: 1px solid var(--col-primary);
            }
          }
        }
      }
    }
  }
  .active {
    color: var(--col-primary) !important;
    border-bottom: 1px solid var(--col-primary);
  }

  .list-view {
    display: block;

    @media only screen and (max-width: $bp-4) {
      display: none;
    }
  }

  .button3{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
  }
  

  //heading
  .page__heading3 {
    font-size: 2rem;
    font-weight: 400;

    
  @media only screen and (max-width: $bp-3) {
    font-size: 1.5rem;
  }
  }

  &__lists {
    flex: 1;

    & .featured-products {
      background-color: transparent;
    }
  }

  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6rem;

    .products__total {
      color: var(--col-gray-1);
    }

    .list-view {
      &>* {
        cursor: pointer;
        color: var(--col-gray-1);
        background-color: var(--col-gray-2);
        padding: .25rem;
        box-sizing: content-box;

        &:hover {
          color: #fff;
          background-color: black;
        }
      }

      &>*:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__items {

    @media only screen and (max-width: $bp-4) {
      // display: flex;
      // flex-direction: column;
    }
    .card {
      background-color: var(--col-gray-2);
    }
  }
}

select {
  padding: 5px;
  cursor: pointer;
}

.container2{
  width: 60%;
  margin: 0 auto;
  padding: 6rem 0;
}

.cart-title{
  display: grid;
  grid-template-columns: repeat(5, minmax(10rem, 1fr));
  // grid-row-gap: 2rem;
  grid-auto-rows: min-content;
  text-align: center;
  margin: 2rem auto;
  align-items: center;

  &-design{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--col-gray-3);
    font-weight: bold;
  }
 
}

.cart{
  &__img{
    width: 6rem;
    height: 4rem;
    display: block;
    margin: 0 auto;
  }

  &-desc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  &-item{
    &__name{
      text-transform: capitalize;
    }
  }
  &__remove{
    cursor: pointer;
    color: rgb(185, 0, 0);
  }

  &-button{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
}


.center2{
  justify-content: center;
}